{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Creating Time That Matters</h1>
    <div class="row">
        <div class="col-md-8">
            <p>Friendship isn’t just the big events throughout the year; a birthday, a holiday, a vacation. Those may not even be the most important. Do your closest friendships come from the birthdays with 15 people…or the times you used to grab drinks once a week at the bar near both of your offices? Those casual, regular, small get-togethers create the opportunity for connection. A friendship takes more than spending time with one another, but that’s the foundation it’s built on.</p>
            <br>
            <p>As I approached 30, I realized that finding those fluid times had become more difficult. A growing career, maturing romantic relationships, moving to fit your life circumstances; all of these add friction and obligations start to stack up. Everything needs more lead time, approaches being more like an event than a part of everyday life, and it's hard to always reach out. On top of that, the past few years - driven by the pandemic and remote working - have added new sources of friction to maintaining close friendships.</p>
            <br>
            <p>Maybe with a little help we could see more of the people that aren’t quite in the regular flow of our lives. Whether it's trying out a new workout class or going to happy hour, HangTime makes it easy to create these small moments of connection that strengthen the foundation of our friendships.</p>
        </div>
    </div>
{% endblock %}