{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>About HangTime</h1>
    <div class="row">
        <div class="col-md-5">
            <p>Friendship isn’t just the big events throughout the year; a birthday, a holiday, a vacation. Those might not even be the most important. Think about your closest friendships for a second, are they close because of the birthdays with 15 people…or because you used to grab drinks once a week at the bar near both of your offices? A friendship takes more than spending time with one another, but I’d argue that’s the foundation it’s built on.</p>
            <br>
            <p>In my late 20s I realized that finding those fluid times became more difficult. A growing career, maturing romantic relationships, moving to fit your life circumstances; all of these add friction and obligations start to stack up. Everything needs more lead time, approaches being more like an event than a part of everyday life, and the question of who puts in the initiation energy is also difficult. Maybe with a little help we could see more of the people that aren’t quite in the regular flow of our lives, because nothing is regular about the flow of our lives.</p>
        </div>
        <div class="col-md-2">
            <p>VS</p>
        </div>
        <div class="col-md-5">
            <p>Friendships thrive on spending time with one another, but finding these fluid times has become more challenging than ever. As we mature, romantic relationships, careers, children, and other obligations begin to stack up and add friction to our social lives. In addition, the past few years - driven by the pandemic and remote working - have added new sources of friction to maintaining close friendships. Large events like birthdays or holidays still bring people together, but these gatherings are more event-based. Think about your closest relationships for a second...are they close because of the birthday parties with 15 other people, or because you used to grab drinks once a week at the bar near both your offices? What's suffered is the everyday connecting of two or three people just because they want to be together.  Even simple outings like grabbing coffee or happy hour drinks require more planning and coordination than they once did.</p>
            <br>
            <p>With the growing stability of hybrid work models, this sense of disconnection may persist even as life returns to normal. That's why we believe that a little help can go a long way. By providing the tools and resources necessary to make planning social outings more seamless, we can help people reconnect with those who are no longer part of their everyday flow. Whether it's trying out a new workout class or simply grabbing a drink after work, these small moments of connection can help to build and strengthen the foundation of our friendships.</p>
        </div>
    </div>
{% endblock %}