{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>About GoHang</h1>
    <div class="row">
        <div class="col-md-6">
            <p>Friendship isn’t just the big events throughout the year; a birthday, a holiday, a vacation. Those might not even be the most important. Think about your closest friendships for a second, are they close because of the birthdays with 15 people…or because you used to grab drinks once a week at the bar near both of your offices? A friendship takes more than spending time with one another, but I’d argue that’s the foundation it’s built on.</p>
            <br>
            <p>In my late 20s I realized that finding those fluid times became more difficult. Maturing romantic relationships, a growing career, moving to fit your life circumstances; all of these add friction and obligations start to stack up. Everything needs more lead time, approaches being more like an event than a part of everyday life, and the question of who puts in the initiation energy is also difficult. Maybe with a little help we could see more of the people that aren’t quite in the regular flow of our lives, because nothing is regular about the flow of our lives.</p>
        </div>
    </div>
{% endblock %}