{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% if form %}
    <h3>Add a new friend</h3>
    <div class="row">
        <div class="col-md-3">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <br>
    {% endif %}
    {% for friend in friends %}
    <p>
        <b>Name:</b> {{ friend.provided_name}}
        <b>Phone Number:</b> {{ friend.users.phone_number }}
        <b>Cadence:</b> {{friend.cadence }}
    </p>
    {% endfor %}
{% endblock %}