{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Hi, {{ current_user.first_name }}!</h1>
    {% if form %}
    <h3>Add Friend</h3>
        {% include '_add_friend.html' %}
    <br>
    {% endif %}
    <h3>Hangs this week</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>State</th>
                <th>Slot</th>
            </tr>
        </thead>
        <tbody>
            {% for hang in hangs %}
            <tr class="{{ colors[hang[0].state] }}">
                <td>{{ hang[2] }}</td>
                <td>{{ hang[0].state }}</td>
                <td>{{ hang[0].finalized_slot }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}