{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h3>Schedule</h3>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p><b>Week of:</b>
        {{ form.dt(class='datepicker') }}
        {% for error in form.dt.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <p><b>FYI: Weeks run Monday to Sunday</b>
        <p><b>FYI: If you submit a week twice it overwrites the previous input, sorry! &#128517;</b>
        <p><b>FYI: Submitted schedules don't impact scheduled hangs</b>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Time</th>
                    {% for day in ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday'] %}
                    <th>{{ day }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for time in ["Morning", "Afternoon", "Evening"] %}
                <tr>
                    <td>{{ time }}</td>
                    {% for day in ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday'] %}
                    <td>{{ form |attr(time + day)() }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ form.submit(class="btn btn-primary") }}
    </form>
{% endblock %}